
* {
    margin: 0px;
    padding: 0px;
    
    
    
}
.modal{
    text-align: center;
}
.modal-dialog { 
    max-width: 100%; 
    width: auto !important; 
    display: inline-block; 
    resize: both;
    }

.voteaverage{
    margin: 7px;
}

.buttontrailer{
    display: grid;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 35px;
}

.has-search .form-control {
    padding-left: 3.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    display: block;
    line-height: 2.375rem;
    text-align: justify;
    pointer-events: none;
}


.titulo{
    height: 60px;
    text-align: center;
    text-justify: distribute-all-lines;
    margin-bottom: 4px;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.centered{
    display: grid;
    justify-content: center;
}
.voteaverage{
    display: grid;
    justify-content: center;
}

.mymovies{ 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
} 

.imageaviable{
    height: 278px;
    width: 185px;
}
.imagenotaviable {
    max-width: 100%;
    max-height: 100%;
}

.imagemovie {
    overflow: scroll;
    width: fit-content;
    position: relative;
    cursor: pointer;
}

.resume {
    padding: 5px;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    color: whitesmoke;
    background-color: rgba(10, 10, 10, 0.5);

}

.videoyt{
    width: 711px;
    height: 400px;
}

.imagemovie .resume:hover {
    opacity: 1;
}

.imagemovie .resume .text {
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.9s;
}

.imagemovie .resume:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}


@media screen and (max-width:1000px) {

    .videoyt{
        width: 460px;
        height: 259px;
    }
 .imageaviable{
        height: 225px;
        width: 150px;
    }
    .titulo{
        font-size: 17px;
    }

        

} 
@media screen and (max-width:820px) {

    .titulo{
        font-size: 15px;
    }
    .resume{
        font-size: 17px;
    }
}
@media screen and (max-width:750px){
    .videoyt{
        width: 460px;
        height: 259px;
    }
 .imageaviable{
        height: 195px;
        width: 130px;
    }
    .titulo{
        font-size: 15px;
    }
    .resume{
        font-size: 15px;
    }
   

}
@media screen and (max-width:630px){
    .mymovies{
        display: grid;
        grid-template-columns: 33% 33% 33% !important;
    }

    .videoyt{
        width: 460px;
        height: 259px;
    }
 .imageaviable{
        height: 195px;
        width: 130px;
    }
    .titulo{
        font-size: 13px;
    }
    .resume{
        font-size: 12px;
    }
   

}
@media screen and (max-width:500px){
    .videoyt{
        width: 360px;
        height: 203px;

    }
}
@media screen and (max-width:430px){
    .mymovies{
        display: grid;
        grid-template-columns: 50% 50% !important;
    }

    .videoyt{
        width: 300px;
        height: 169px;
    }
 .imageaviable{
        height: 195px;
        width: 130px;
    }
    .titulo{
        font-size: 13px;
    }
   

}
@media screen and (max-width:355px){
    .videoyt{
        width: 200px;
        height: 113px;

    }
}